{% extends 'curator/base.html' %}
{% block content %}
<h1>{{ curator_ui.change_password }}</h1>
<p>{{ curator_ui.password_intro }}</p>
<form method="post">
  {% csrf_token %}{{ form.non_field_errors }}
  <label for="{{ form.old_password.id_for_label }}">{{ curator_ui.current_password }}</label>
  {{ form.old_password }}{{ form.old_password.errors }}
  <label for="{{ form.new_password1.id_for_label }}">{{ curator_ui.new_password }}</label>
  {{ form.new_password1 }}{{ form.new_password1.errors }}
  {% if form.new_password1.help_text %}<div class="helptext">{{ form.new_password1.help_text|safe }}</div>{% endif %}
  <label for="{{ form.new_password2.id_for_label }}">{{ curator_ui.confirm_password }}</label>
  {{ form.new_password2 }}{{ form.new_password2.errors }}
  <button type="submit">{{ curator_ui.save_password }}</button>
</form>
<p style="margin-top:24px"><a href="/?workspace=curator&amp;tab=contents">{{ curator_ui.return_manager }}</a></p>
{% endblock %}
